<div class="view users-view login-view">
  <form [formGroup]="loginForm" class="form-group" (ngSubmit)="onSubmit()" #f="ngForm">
    <h1>Login to your account.</h1>

    <mat-form-field>
      <input matInput type="email" placeholder="Email" formControlName="email" required>
      <mat-error *ngIf="loginForm.get('email').errors?.required">Your email is required</mat-error>
      <mat-error *ngIf="loginForm.get('email').errors?.email">Please enter a valid email</mat-error>
      <mat-error *ngIf="loginForm.get('email').errors?.serverError">
          {{ loginForm.get('email').errors?.serverError[0] }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password" required>
      <mat-error *ngIf="loginForm.get('password').errors?.required">A password is required</mat-error>
      <mat-error *ngIf="loginForm.get('password').errors?.minlength">A password must atleast have 8 characters</mat-error>
      <mat-error *ngIf="loginForm.get('password').errors?.serverError">
          {{ loginForm.get('password').errors?.serverError[0] }}
      </mat-error>
    </mat-form-field>

    <div class="spinner-wrapper" [style.display]="!submitted ? 'none': 'inline-flex'"><mat-spinner [diameter]="25"></mat-spinner></div>
    <button mat-flat-button color="primary" type="submit" class="btn" [disabled]="submitted">Login</button>
    <a mat-stroked-button color="warm" class="btn signup-link" routerLink="/signup">Signup</a>
    <a mat-button color="warm" class="btn forgot-password-link" routerLink="/forgot-password">Forgot password?</a>
  </form>
</div>
