<div class="view users-view password-reset-conform-view">
  <form [formGroup]="passwordResetConfirmForm" class="form-group" (ngSubmit)="onSubmit()" #f="ngForm">
    <h1>Set a new password for your account.</h1>
    
    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="new_password1" required>
      <mat-error *ngIf="passwordResetConfirmForm.get('new_password1').errors?.required">A password is required</mat-error>
      <mat-error *ngIf="passwordResetConfirmForm.get('new_password1').errors?.minlength">A password must atleast have 8 characters</mat-error>
      <mat-error *ngIf="passwordResetConfirmForm.get('new_password1').errors?.serverError">
          {{ passwordResetConfirmForm.get('new_password1').errors?.serverError[0] }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Confirm Password" formControlName="new_password2" required>
      <mat-error *ngIf="passwordResetConfirmForm.get('new_password2').errors?.required">Please confirm your password</mat-error>
      <mat-error *ngIf="passwordResetConfirmForm.get('new_password2').errors?.mustMatch">Passwords did not match</mat-error>
      <mat-error *ngIf="passwordResetConfirmForm.get('new_password2').errors?.serverError">
          {{ passwordResetConfirmForm.get('new_password2').errors?.serverError[0] }}
      </mat-error>
    </mat-form-field>

    <div class="spinner-wrapper" [style.display]="!submitted ? 'none': 'inline-flex'"><mat-spinner [diameter]="25"></mat-spinner></div>
    <button mat-flat-button color="primary" type="submit" class="btn" [disabled]="submitted">Submit</button>
  </form>
</div>
